<app-navigator firstTitle="FAQ"></app-navigator>

<main class="content p-5">
  <section class="row justify-content-around mt-5">
    <div id="card" class="col-lg-5 col-12 mt-5 p-5">
      <img width="45%" height="auto" src="sources/source3.webp" alt="FAQS"/>
      <h1 class="mt-5">FAQS</h1>
    </div>
    <article class="col-lg-5 col-12 mt-5">
      <p>
        Welcome to our FAQs page! Here, we address the most common questions
        with clear and concise answers spanning from the latest developments in
        the world of technology to detailed product information. Visit our FAQs
        page to quickly find reliable answers to your inquiries. We're here to
        assist you and provide the support you need!
      </p>
    </article>
  </section>
</main>




<section class="container">
  <section class="row justify-content-around">
    @for (top of topics; track top) {
      <div (click)="filterFAQS(top.topic)" [ngClass]="{active: top.topic === selectedTopic}" class="card col-lg-2 col-md-6 col-12 mb-3">
        <h2>{{ top.topic }}</h2>
      </div>
    }
  </section>
  <hr/>
  <article class="row">
    @for (ques of questions; track ques) {
      <details class="accordion">
        <summary class="accordion-btn">
          {{ ques.question }}
        </summary>
        <div class="accordion-content">
          <p>{{ ques.answer }}</p>
        </div>
      </details>
    }
  </article>
</section>
