<app-navigator firstTitle="Terms of Use"></app-navigator>

<article class="container">
  <h3 class="mb-4">MaintainV Company,</h3>
  <h4>Terms of Use Last Updated: February 22, 2024</h4>
  <p>
    By signing an Order Form, or accessing or using the services provided by
    MaintainV Company, (“MaintainV”), you agree, on behalf of you and your
    company (“Customer”), to be bound by and to comply with these Terms of Use
    (together with an Order Form, the “Agreement”). For good and consideration
    valuable, the receipt of which is acknowledged by each party, the parties
    agree as follows:
  </p>
  <p class="fw-bolder">To be accepted</p>
  <p>
    By using or accessing MaintainV, you agree to the terms of this Agreement.
    If you do not agree to all the terms of this Agreement, do not use
    MaintainV.
  </p>
  <p>Usage Rights and Restrictions</p>
  <p>
    a. MaintainV is licensed for your personal use only. You cannot use it for
    commercial purposes.
  </p>
  <p>b. You may not copy, distribute or modify the content of MaintainV.</p>
  <p>
    c. While using MaintainV, you will not post or share content that is
    illegal, obscene, offensive or violates the rights of others.
  </p>
  <p class="fw-bolder">Service Changes</p>
  <p>
    MaintainV Company reserves the right to modify or discontinue MaintainV at
    any time without notice. MaintainV Company is not responsible for any losses
    that may occur as a result of such changes.
  </p>
  <p class="fw-bolder">Privacy Policy</p>
  <p>
    The privacy policy regarding the use of MaintainV can be accessed at
    https://www.maintainv.com/privacy-policy. The user must carefully read and
    understand the privacy policy.
  </p>
  <p class="fw-bolder">Force Majeure</p>
  <p>
    If any party is unable to fulfill its commitments due to events beyond its
    reasonable control (e.g. natural disasters, strikes, wars, internet outages,
    etc.), these parties will be deemed force majeure and their liability will
    be deferred in this case.
  </p>
  <p class="fw-bolder">Disclaimer</p>
  <p>
    MaintainV Company is not liable for any direct, indirect, incidental,
    special or consequential damages arising from the use or inability to use
    MaintainV.
  </p>
  <p class="fw-bolder">Changes and Updates</p>
  <p>
    This Agreement is a document that MaintainV Company can change unilaterally.
    The latest version of the Agreement becomes effective when it is published
    on MaintainV.
  </p>
  <p class="fw-bolder">Applicable Law and Jurisdiction</p>
  <p>
    This Agreement shall be construed in accordance with the laws of [MaintainV
    Company's Country]. The courts in [Country Where MaintainV Company is
    Located] have jurisdiction to resolve disputes between the parties.
  </p>
  <p>
    This Agreement constitutes the entire agreement between the User and
    MaintainV Company and no other representations, warranties or agreements are
    incorporated into the terms of this Agreement.
  </p>
  <p class="fw-bolder">The ayes have it.</p>
</article>
