<app-navigator firstTitle="About Us"></app-navigator>

<main class="content p-5">
  <section class="row justify-content-around mt-5">
    <aside class="col-lg-5 col-12 card mt-5 p-5">
      <img width="1024" height="984" src="about/about.webp" alt="About Us"/>
      <h1 class="mt-5">ABOUT US</h1>
    </aside>
    <article class="col-lg-5 col-12 mt-5">
      <p class="mt-5">
        Maintainv is a service-first company that develops software designed to
        facilitate and make maintenance management feasible for maintenance
        personnel, maintenance chiefs and maintenance managers all over the
        world, with its customer perspective and extensive literature reviews.
        We continue to produce the best possible service by blending it with
        smart technologies in line with countless customer experiences and
        academic research. With our expert team, we provide 24/7 support to our
        customers all over the world and offer them unique solutions.
      </p>
      <p>
        Maintainv's dynamic and flexible structure allows you to instantly
        control all your maintenance processes from a single application. With
        its powerful infrastructure, you can always follow all your maintenance
        processes with a single click from anywhere in the world.
      </p>
    </article>
  </section>
  <article class="row p-5">
    <p>
      With Maintainv, one of the VİDA MMS sub-companies serving the public and
      private sectors, it has succeeded in strengthening its maintenance
      management and automation processes and carried them to the next level.
      Maintain V, which has managed to bring its brand value to the top with
      precision with its user-first strategies and privileged customer
      portfolio, creates world-class solutions.
    </p>
    <p>
      In this adventure that started with the principle of trust; It has
      demonstrated its brand identity and quality by aiming to consistently
      provide the best CMMS service to countless customers without straying from
      the authority's track. It has earned the right to rise to a respected
      position in the world of CMMS and maintenance automation by exhibiting
      steady growth with its professional, empathy-oriented, honest and
      open-to-improvement perspective since its establishment.
    </p>
  </article>
</main>
