footer {
  display: block;
  background: rgb(27, 29, 33);
  background: linear-gradient(90deg, rgb(27, 29, 33) 0%, rgb(0, 0, 0) 50%, rgb(27, 29, 33) 100%);
}

#list {
  padding: 1em;
  padding-bottom: 0 !important;
}

p {
  color: #fff;
  margin-top: 0;
  margin-bottom: 1rem;
}

.border {
  border-top: 2px solid white;
  margin-bottom: 10px;
  width: 50%;
}

#list li {
  padding-bottom: 3px;
  font-size: 14px;
}

li {
  list-style: none;
  color: #fff;
}

#list li a {
  transition: .3s;
}

#list li a:hover {
  cursor: pointer;
  color: #9c9c9c;
}

a {
  color: #fff;
  text-decoration: none;
}

#links svg {
  margin-right: .5em;
}

img, svg {
  vertical-align: middle;
}

#image {
  margin-top: 6em;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: .25;
}

#schedule{
  transition: .6s;
}

#schedule:hover{
  text-decoration: underline;
}

.media li {
  display: inline-block;
  margin-top: 1em;
  padding: 1em;
}

#apps img{
  margin-top: -1.2em !important;
  float: right;
  padding-right: 1em;
}

a:hover{
  cursor: pointer;
}
