#footer-content {
  padding: 1em;
  padding-bottom: 0 !important;
}
@media (max-width: 980px) {
  #footer-content {
      text-align: center;
  }
}

.line {
  border-top: 2px solid white;
  margin-bottom: 10px;
  width: 50%;
}
@media (max-width: 980px) {
  .line {
      margin: auto auto 1em;
  }
}

p {
  color: #fff;
}

li {
  padding-bottom: 3px;
  font-size: 14px;
  list-style: none;
  color: #fff;
}

li a:hover {
  color: #9c9c9c;
  transition: .3s;
}

a {
  color: #fff;
  text-decoration: none;
}


#logo-image {
  margin-top: 6em;
}
@media (max-width: 980px) {
  #logo-image img {
      margin-left: 25%;
  }
}


#schedule:hover {
  transition: .6s;
  text-decoration: underline;
}

.social-links li {
  display: inline-block;
  margin-top: 1em;
  padding: 1em;
}


#apps img {
  margin-top: -1.2em !important;
  padding-right: 1em;
  float: right;
}

@media (max-width: 980px) {
  #apps img {
      float: none;
  }
}
