.container {
  padding: 2em;
  margin-top: 7em;
}

.container h1 {
  background: linear-gradient(90deg, rgb(0, 102, 255) 0%, rgb(255, 255, 255) 50%, rgb(37, 39, 40) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .card {
  height: auto;
  border: none;
  margin-bottom: 2em;
  transition: .5s;
  background-color: #0e0e0e !important;
  color: #fff;
  padding: 2em;
  border: 1px solid rgba(212, 228, 254, .19);
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 50%, #000000 100%);
}

.icons svg {
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.container svg {
  fill: #333;
}

.title {
  margin-top: 15px;
  margin-left: 10px;
  height: 8vh;
  font-size: 1em;
  font-weight: 500;
}

.description {
  height: 25vh;
  padding: 10px;
}
@media (min-width: 980px) {
  .description {
      height: 35vh !important;
  }
}





.overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay7, .overlay8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.overlay1:hover, .overlay2:hover, .overlay3:hover, .overlay4:hover, .overlay5:hover, .overlay6:hover, .overlay7:hover, .overlay8:hover {
  opacity: 0.8;
}

.overlay1 {
  background-image: url('/features/card1.6dba2172dd264285.webp');
}
.overlay2 {
  background-image: url('/features/card2.49d3b9af4d77997d.webp');
}
.overlay3 {
  background-image: url('/features/card3.45fd02f863e63498.webp');
}
.overlay4 {
  background-image: url('/features/card4.3ea6ceb8218cb138.webp');
}
.overlay5 {
  background-image: url('/features/card5.cca4f156b095c130.webp');
}
.overlay6 {
  background-image: url('/features/card6.cd70ef2f3a39d6e8.webp');
}
.overlay7 {
  background-image: url('/features/card7.0368473c4f39aa60.webp');
}
.overlay8 {
  background-image: url('/features/card8.c78dda743da7b44f.webp');
}




