<app-navigator firstTitle="{{ industryTitle }}"></app-navigator>

<main class="content p-5">
  <section class="row justify-content-around mt-5">
    <aside class="col-lg-5 col-12 card mt-5 p-5">
      <img
        data-aos="zoom-in"
        width="45%"
        height="auto"
        src="industries/menuImg.webp"
        alt="Manufacturing"
      />
      <h1 data-aos="zoom-in" class="mt-5 elements-for-aos-animate">
        {{ industryTitle }}
      </h1>
    </aside>
    <article data-aos="zoom-in" class="col-lg-5 col-12 mt-5 elements-for-aos-animate">
      <p>
        {{ industryDescription }}
      </p>
      <ul>
        @for (item of industryItems; track item) {
          <li>{{ item }}</li>
        }
      </ul>
    </article>
  </section>
</main>

