section {
  font-size: 18px;
  display: block;
  margin-top: 7em;
  margin-bottom: -11em;
  margin-left: 4.5em;
}

section span {
  color: #ffffff80;
}

section a {
  color: #fff;
  text-decoration: none;
}
