.content {
  width: 100%;
  height: 100vh;
}
@media (max-width: 980px) {
  .content {
      padding: 4em;
  }
}

.back {
  float: right !important;
  margin-right: 1em;
  margin-top: 1em;
}

.back svg {
  fill: #fff;
}



/* -------------------------------------------------------------- */

#card {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 50%, #000000 100%);
  border-width: 1px, 1px, 0px, 1px;
  border-style: solid;
  border-color: #d4e4fe30;
  margin-left: 25%;
  margin-top: 4%;
  position: absolute;
  border-radius: 20px !important;
  width: 50%;
  height: 85vh !important;
}
@media (max-width: 980px) {
  #card {
      padding: 5px;
      position: relative;
      margin: 18% auto 1em !important;
      width: 100%;
      height: auto !important;
  }
}

a {
  text-decoration: none;
  color: #000;
}

.logoPhoto {
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
}

hr {
  position: relative;
  border: 0;
  color: #000;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  margin: 1rem 0;
  color: inherit;
}
hr:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

input {
  color: #fff !important;
  border: 0;
  background-color: #22222280;
  padding: .8em;
  margin-bottom: 1em;
}
input:focus { /* input'a tıklandığında */
  background-color: #22222280;
  outline: none;
}
input::placeholder {
  color: #9593A4;
}

#eyes input {
  border-right: none !important;
}

#eyes button {
  align-items: center; /*dikey*/
  justify-content: center; /*yatay*/
  height: 3.14em;
  background-color: #22222280;
  border-radius: 0 5px 5px 0;
  border: 1px solid #dee2e6;
  border: none !important;
}

#eyes button svg{
  fill: #fff;
}

.login {
  margin: 2% auto auto;
  width: 98%;
  height: 6vh;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #0e0e0e;
}

.login svg {
  margin-top: 2px !important;
  float: right;
}

p, label {
  color: #9c9c9c !important;
}

a {
  text-decoration: none;
  color: #006ff0;
}

.invalid-feedback {
  font-size: 13px;
  text-align: right;
}
