.home1 {
  height: 100vh;
  position: relative;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content {
  padding-top: 150px;
  color: #fff;
}

.home-content #text {
  margin-top: 10%;
}
@media (max-width: 980px) {
  .home-content #text {
      text-align: center;
  }
}

.home-content h1 {
  margin-top: 2em;
  font-size: 7em !important;
  background: linear-gradient(90deg, rgb(0, 102, 255) 0%, rgb(255, 255, 255) 50%, rgb(37, 39, 40) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 980px) {
  .home-content h1 {
      font-size: 4em !important;
  }
}

.home-content #tour{
  margin-left: 2em;
}
@media (max-width: 980px) {
  .home-content #tour {
      margin-left: 0 !important;
      margin-top: 1em;
  }
}

p {
  font-size: 18px;
}

.btn-dark {
  border-radius: 40px;
  background-color: #0e0e0e;
}

.btn-outline-dark {
  border-radius: 40px;
  color: #fff;
}





/* ---------------------------------------------------------------------- */
                                /* home2, home3 */

.home2, .home3 {
  background-color: #fff;
}
@media (max-width: 980px) {
  .home2, .home3 {
      padding: 1em !important;
  }
}

.home2 span, .home3 span, .home4 span, .home5 span {
  background: linear-gradient(90deg, rgb(0, 102, 255) 0%, rgb(255, 255, 255) 50%, rgb(37, 39, 40) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home2 img, .home3 img {
  width: 40%;
  height: auto;
}
@media (max-width: 980px) {
  .home2 img {
      width: 80%;
  }
  .home3 img {
      margin-bottom: 1em;
      width: 80%;
  }
}





/* ---------------------------------------------------------------------- */
                                /* home4 */

.home4 {
  padding: 5em !important;
}
@media (max-width: 980px) {
  .home4 {
      padding: 2em !important;
  }
}

.home4 .card {
  width: 24%;
  cursor: pointer;
  background-color: transparent;
  border-width: 1px, 1px, 0px, 1px;
  border-style: solid;
  border-color: #d4e4fe30;
  position: relative;
  overflow: hidden;
}
@media (max-width: 980px) {
  .home4 .card{
      width: 100% !important;
      margin-bottom: 15px;
  }
}

.home4 h2, .home4 h4 {
  color: #fff;
}

.home4 .card p {
  height: 25vh;
  color: #9c9c9c;
}

.home4 img {
  width: 30%;
  height: auto !important;
}

.overlay1, .overlay2, .overlay3, .overlay4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.overlay1:hover, .overlay2:hover, .overlay3:hover, .overlay4:hover {
  opacity: 0.8;
}
.overlay1 {
  background-image: url('/home/card1.6dba2172dd264285.webp');
}
.overlay2 {
  background-image: url('/home/card2.49d3b9af4d77997d.webp');
}
.overlay3 {
  background-image: url('/home/card3.45fd02f863e63498.webp');
}
.overlay4 {
  background-image: url('/home/card4.3ea6ceb8218cb138.webp');
}





/* ---------------------------------------------------------------------- */
                                /* home5 */

.home5 {
  padding: 5em !important;
  color: #9c9c9c;
}
@media (max-width: 980px) {
  .home5 {
      padding: 2em !important;
  }
}

.home5 img {
  padding-bottom: 2em;
  width: 100%;
  height: auto;
}
@media (max-width: 980px) {
  .home5 img {
      width: 80%;
  }
}

.home5 h2 {
  color: #fff;
}





/* ---------------------------------------------------------------------- */
                                /* home2, home3, home4, home5 */

.home2 span, .home3 span, .home4 span, .home5 span {
  background: linear-gradient(90deg, rgb(0, 102, 255) 0%, rgb(255, 255, 255) 50%, rgb(37, 39, 40) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
