<section class="home">
  <video autoplay muted loop id="home-video">
    <source src="home/backgroundV.mp4" type="video/mp4" />
  </video>

  <main class="container home-content">
    <article id="text" class="col-lg-7 col-12">
      <h1 data-aos="fade-up" data-aos-duration="500">
        MAINTAIN-V
      </h1>
      <p data-aos="fade-up" data-aos-duration="1000">
        A single application for <span class="text-primary">manage</span> all
        your <span class="text-primary">maintenance</span> related
        <span class="text-primary">works</span>.
      </p>
      <a routerLink="/signup" title="Try For Free">
        <button data-aos="fade-up" data-aos-duration="1500" class="col-lg-4 col-12 p-3 btn btn-dark elements-for-aos-animate">
          Try For Free
        </button>
      </a>
      <a routerLink="/contact" title="Register">
        <button data-aos="fade-up" data-aos-duration="1500" id="tour" class="col-lg-4 col-12 p-3 btn btn-outline-dark elements-for-aos-animate">
          Schedule a Tour
        </button>
      </a>
    </article>
  </main>
</section>

<section class="home2 p-5">
  <section class="row p-5">
    <article data-aos="fade-in" class="col-lg-6 col-md-6 col-12 text-center p-2 aos-init aos-animate" style="margin: auto">
      <h2 id="title"><span style="color: #0066ff">DYNAMIC</span> DASHBOARD</h2>
      <p>
        With Maintain-V's dynamic dashboard, you can instantly view the status
        of all your jobs. See how many Work Orders have been created, how many
        have been completed, the time between failures and much more.
      </p>
    </article>

    <aside data-aos="fade-in"
      class="col-lg-6 col-12 text-center aos-init aos-animate">
      <img width="1080" height="1920" src="home/dashboard.webp" alt="Dashboard" class="photo"/>
    </aside>
  </section>
</section>

<section class="home3 p-5">
  <section class="row p-5">
    <aside data-aos="fade-in"
      class="col-lg-6 col-12 text-center aos-init aos-animate">
      <img width="1080" height="1920" src="home/live.webp" alt="Dashboard" class="text-center"/>
    </aside>
    <article data-aos="fade-in" class="col-lg-6 col-md-6 col-12 text-center p-2 aos-init aos-animate" style="margin: auto">
      <h2 id="title"><span style="color: #0066ff">LIVE</span> SUPPORT</h2>
      <h4>Anywhere, Anytime, Full Support...</h4>
      <p>
        Let us know your issue, and our support teams will contact you. Let us
        answer your questions thanks to the live support on Maintain-V without
        wasting time on any other application.
      </p>
    </article>
  </section>
</section>

<section class="home4 p-5">
  <article class="row text-center">
    <h2 class="mt-5">Everything About</h2>
    <h2 class="mb-5"><span style="color: #0066ff">CMMS</span> APPLICATION</h2>
  </article>

  <section class="row justify-content-between">
    <div class="card col-lg-6 col-md-6 col-12">
      <div class="card-content">
        <h4 class="p-2">Work Order Management</h4>
        <p class="p-2 mt-5">
          This involves creating, assigning, prioritizing, and completing work
          orders to ensure that operations run smoothly and effectively.
        </p>
        <img width="500" height="500" src="home/1.webp" alt="Work" class="p-2"/>
        <div class="overlay1"></div>
      </div>
    </div>

    <div class="card col-lg-6 col-md-6 col-12">
      <div class="card-content">
        <h4 class="p-2">Facility Management</h4>
        <p class="p-2 mt-5">
          Facility management (FM) is a multidisciplinary field focused on the
          efficient and effective management of an organization's physical
          assets, infrastructure, and facilities.
        </p>
        <img width="500px" height="500px" src="home/2.webp" alt="Facility" class="p-2"/>
        <div class="overlay2"></div>
      </div>
    </div>

    <div class="card col-lg-6 col-md-6 col-12">
      <div class="card-content">
        <h4 class="p-2">Asset Management</h4>
        <p class="p-2 mt-5">
          Asset management refers to the systematic approach of managing an
          organization's assets to maximize their value and minimize associated
          risks and costs over their entire lifecycle.
        </p>
        <img width="500px" height="500px" src="home/3.webp" alt="Asset" class="p-2"/>
        <div class="overlay3"></div>
      </div>
    </div>

    <div class="card col-lg-6 col-md-6 col-12">
      <div class="card-content">
        <h4 class="p-2">Warehouse and Stock Management</h4>
        <p class="p-2 mt-3">
          Effective warehouse and stock management ensures that the right
          products are available in the right quantities, at the right time, and
          in the right condition to meet customer demand.
        </p>
        <img width="500px" height="500px" src="home/4.webp" alt="Warehouse" class="p-2"/>
        <div class="overlay4"></div>
      </div>
    </div>
  </section>
</section>

<section class="home5 p-2">
  <section class="row">
    <aside class="col-lg-6 col-md-6 col-12">
      <img width="2400" height="1400" src="home/platform.webp" alt="Dashboard"class="photo"/>
    </aside>

    <article class="col-lg-6 col-md-6 col-12 text-center p-2" style="margin: auto">
      <aside>
        <h2><span style="color: #0066ff">ON ALL</span> PLATFORMS</h2>
        <h4>Anywhere, Anytime, Full Support...</h4>
        <p>
          You can log in using mobile and web applications on all your iOS and
          Android devices."
        </p>
      </aside>
      <section class="store row">
        <div class="col-5" style="margin: auto">
          <a href="#" title="Play Store">
            <img width="70" height="70" src="footer/google-play-badge-logo-svgrepo-com.svg" alt="Google Play" class="photo2"/>
          </a>
        </div>
        <div class="col-5">
          <a href="#" title="App Store">
            <img width="70" height="70" src="footer/download-on-the-app-store-apple-logo-svgrepo-com.svg" alt="App Store" class="photo2"/>
          </a>
        </div>
      </section>
    </article>
  </section>
</section>
