#body-navbar {
  font-family: Roboto, sans-serif !important;
  background: rgb(27, 29, 33);
  background: linear-gradient(90deg, rgb(27, 29, 33) 0%, rgb(0, 0, 0) 50%, rgb(27, 29, 33) 100%);
}

.scrolled-navbar {
  background: linear-gradient(89.61deg, #1F222A -17.72%, #020303 99.5%) !important;
  color: white;
}

img {
  width: 50%;
  height: auto;
  cursor: pointer;
  vertical-align: middle;
}

a {
  color: #fff !important;
  cursor: pointer;
  text-decoration: none;
}

#list {
  margin: auto 0 auto auto;
}

#list li {
  margin-right: 2em;
}

.start {
  border: 1px solid #0165fd;
  border-radius: 32px;
  padding: 2px;
}

.start a {
  color: #fff !important;
  padding: 10px;
  font-size: 15px;
}
