<div id="body-navbar">
  <nav class="navbar navbar-expand-lg px-4 py-4 fixed-top" [ngClass]="{'scrolled-navbar': isShow}">
    <div class="container-fluid">
      <header (click)="goHomeAndTop()" title="Logo">
        <img height="40" width="152" src="logo/maintainv-logo2.svg" alt="Maintain-V Logo" class="m-3 mt-0 d-none d-lg-block"/>
      </header>

      <div class="row" style="margin: auto">
        <a id="btn" (click)="goHomeAndTop()" title="Menu" class="text-start col-6">
          <img height="40" width="40" src="logo/favicon.svg" alt="Maintain-V Logo" class="m-3 d-lg-none"/>
        </a>
        <a id="btn" type="button" title="Menu" class="navbar-toggler text-end col-6"
          data-bs-toggle="collapse"
          data-bs-target="#mobileView"
          aria-controls="navbarSupportedConten2"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" height="2em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-list">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" style="fill: #fff"></path></svg>
        </a>
      </div>

      <div id="mobileView" class="collapse navbar-collapse text-center">
        <ul id="list" class="navbar-nav">
          <li class="nav-item">
            <a title="Solutions" id="solution" class="nav-link cursor-pointer">
              Industries
              <app-settings-icon></app-settings-icon>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/features" routerlinkactive="active" title="Features" class="nav-link">Features</a>
          </li>
          <li class="nav-item">
            <a routerLink="/pricing" routerlinkactive="active" title="Pricing" class="nav-link">Pricing</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" routerlinkactive="active" title="Contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a title="Solutions" id="solution" class="nav-link cursor-pointer">
              Sources
              <app-settings-icon></app-settings-icon>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item login">
            <a href="https://app.maintainv.com/#/auth/login" target="_blank" title="Login" class="nav-link cursor-pointer">Login</a>
          </li>
          <li class="nav-item start mx-3">
            <a routerLink="/signup" title="Start Free Trial" class="nav-link cursor-pointer">REQUEST DEMO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


