svg {
  margin-left: 5px;
  margin-bottom: 2px;
}

.rotate {
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
