/* ---------- Content ---------- */
.content {
  background-image: url('/about/sourceBack.26a58e8e3b58d35e.webp');
  background-size: cover;
}

.content .row {
  margin-top: 5em !important;
  margin-bottom: 3em;
}

.content .card {
  border: 0;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 50%, #000000 100%);
}

.content h1 {
  font-size: 72px;
  background: linear-gradient(90deg, rgb(0, 102, 255) 0%, rgb(255, 255, 255) 50%, rgb(37, 39, 40) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content p {
  margin-top: 4em !important;
  color: #9c9c9c;
  font-size: 16px;
}

input::placeholder{
  color: #9593A4;
}

.search {
  width: 50%;
  height: 50px;
  padding: 10px;
  border-width: 1px, 1px, 0px, 1px;
  border-style: solid;
  border-color: #d4e4fe30;
  border-radius: 5px;
}
@media (max-width: 980px) {
  .search {
      margin-top: 2em;
      width: 100%;
  }
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #06f; /* yanıp sönen dikey çizginin rengi */
  font-size: 19px;
}

.search-input {
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  color: #fff;
  line-height: 20px;
}

.search-icon {
  text-decoration: none;
  color: #1b1d21 !important;
  height: 34px;
  width: 34px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06f;
  font-size: 10px;
  position: relative;
  bottom: 33px;
  border-radius: 5px;
  cursor: pointer;
}






/* ------------------------------- Container ------------------------ */

.container .card {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border-width: 1px, 1px, 0px, 1px;
  border-style: solid;
  border-color: #d4e4fe30;
  color: #fff;
  transition: .8s;
  width: 30%;
  cursor: pointer;
  margin-bottom: 1em;
}
@media (max-width: 980px) {
  .card {
      width: 100% !important;
  }
}
.container .card:hover svg {
  fill: #333;
  background-color: #fff;
}

.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity .8s ease-in-out;
  opacity: 0;
  z-index: -1; /* kartın arkasında kalması için daha küçük z-index değeri */
}
@media (max-width: 980px) {
  video {
      display: none;
  }
}
.container .card:hover video {
  opacity: 1;
}

.container h4 {
  height: 6vh;
}

.container p {
  margin-top: 1em !important;
  margin-bottom: 3em !important;
  height: 10vh;
}

.container svg {
  fill: #fff;
  background-color: #333;
  margin-bottom: 1em;
  margin-top: 2em;
  width: 17%;
  border-radius: 100px;
  transition: .5s;
}
