/* ---------- Content ---------- */
.content {
  background-image: url('/about/sourceBack.26a58e8e3b58d35e.webp');
  background-size: cover;
}

.content .row {
  margin-top: 5em !important;
  margin-bottom: 3em;
}

.content .card {
  margin-top: 3em;
  padding: 2em;
  border: 0;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 50%, #000000 100%);
}
.container .card:hover svg {
  fill: #333;
  background-color: #fff;
}

.content .card img {
  width: 45%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}

.content h1 {
  font-size: 72px;
  background: linear-gradient(90deg, rgb(0, 102, 255) 0%, rgb(255, 255, 255) 50%, rgb(37, 39, 40) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content p {
  margin-top: 4em !important;
  color: #9c9c9c;
  font-size: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

input::placeholder{
  color: #9593A4;

}

.search {
  width: 50%;
  height: 50px;
  background-color: transparent;
  padding: 10px;
  border-width: 1px, 1px, 0px, 1px;
  border-style: solid;
  border-color: #d4e4fe30;
  border-radius: 5px;
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #06f;
  font-size: 19px;
  font-weight: 300;
  transition: width .4s linear;
}

.search-input {
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  color: #fff;
  line-height: 20px;
  transition: width .4s linear;
}

.content a {
  text-decoration: none;
  color: #1b1d21 !important;
}

.search-icon {
  height: 34px;
  width: 34px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #06f;
  font-size: 10px;
  bottom: 30px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

/* ------------------------------------------------------------- */



/* ------------------------------- Container ------------------------ */

.container .card {
  position: relative;
  overflow: hidden;
}

.container .card {
  background-color: transparent;
  border-width: 1px, 1px, 0px, 1px;
  border-style: solid;
  border-color: #d4e4fe30;
  color: #fff;
  transition: .8s;
  width: 30%;
  cursor: pointer;
  margin-bottom: 1em;
}

.container .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.container .background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: opacity .8s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.container .card:hover .background-video {
  opacity: 1;
}

.container .card h4 {
  height: 6vh;
}

.container h4 {
  z-index: 999;
}

.container hr {
  color: #fff;
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: .25;
}

.container .card p {
  margin-top: 1em !important;
  margin-bottom: 3em !important;
}

.container p {
  height: 10vh;
  color: #fff;
  z-index: 999;
}

.container a {
  z-index: 999;
}

.container svg {
  fill: #fff;
  margin-bottom: 1em;
  margin-top: 2em;
  width: 17%;
  background-color: #333;
  border-radius: 100px;
  transition: .5s;
  z-index: 999 !important;
  cursor: pointer;
}







